.cart{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    padding-top: 150px;
    th{
        border-bottom: 1px solid black;
    }
    td{
        border-bottom: 1px solid black;
        padding: 0.5rem;
        text-align: center;
    }
    .cart--btn{
        border: none;
        background-color: rgba(0, 0, 0, 0.6);
        color: aliceblue;
        padding: 0.5rem;
        border-radius: 10px;
    }
    .cart--btn:hover{
        background-color: rgba(0, 0, 0);
    }
}